@import "vendor/bootstrap/functions";
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/mixins";

//z _buttons.scss - tutaj dajemy z mixinow?

.website-bckg-color {
    background-color: #F4F7FB;
}

                                                     //NAVBAR
//ikona w navbar
.fa-nav, .nav-carret {
    color:#8196a5;
}
//imie w navbar
.nav-name {
    color: #232c3a;
    font-size: 13px;
    letter-spacing: 1.5px;
}
//border w navbar
.border-bottom-sass {
    box-shadow: 0px 2px 0px 0px #e6edf0;
}
//wysrodkowanie buttonow w navbar
.nav-link-sass {
    padding-top: 25px;
    padding-bottom: 21px;
}
.nav-text {
    font-size: 13px;
    letter-spacing: 1.0px;
    font-weight: 500;
}
.nav-item-sass a:hover {
    border-bottom: 4px solid #3fb39e;
}
  
.nav-item-sass a.active {
    border-bottom: 4px solid #3fb39e;  
}
.breadcrumb {
    background-color: #F4F7FB;
}
                                                     //
                                                     //CARDS
.card-header {
    background-color: #F4F7FB;
    box-shadow: inset 0px 2px 0px 0px white;
}
.card {
    box-shadow: 0px 1px 0px 0px #e6edf0;
    //powinien byc  1px
}
.pagination-shadow {
    box-shadow: 0px 1px 0px 0px #e6edf0;
}
                                                     //                               
                                                     //USER DETAILS                                                                        
.text-user-detail {
    font-size: 13px;
    color:#697f8d;
    white-space: nowrap;
}
                                                     //
                                                     //MODAL
.modal-header {
    background-color:#F4F7FB;
}
.modal-footer {
    background-color:#e6edf0;
}
.delete-font-size {
    font-size: 13px;
}
                                                     //
                                                     //NAGLOWKI
.h3, .h2, .h5 {
    color:#232c3b !important;
}
                                                     //
                                                     //SEARCH
.text-size-search-filter{
    font-size: 13px;
}
                                                     //