@import "vendor/bootstrap/functions";
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/mixins";

//z _buttons.scss - tutaj dajemy z mixinow?
.test-button {
    @include button-variant(red, #000);
}

//navbar
//ikona w navbar
.fa-nav, .nav-carret {
    color:#8196a5;
}

.navbar-nav

//imie w navbar
.nav-name {
    color: #232c3a;
    font-size: 1em;
    letter-spacing: 0.5px;

}
//border w navbar
.border-bottom-sass {
    box-shadow: 0px 2px 0px 0px #e6edf0;
}

//wysrodkowanie buttonow w navbar
.nav-link-sass {
    padding-top: 26px;
    padding-bottom: 20px;
}
.nav-text {
    
    font-size: 1em;
    letter-spacing: 0.8px;
    font-weight: 600;
}

.nav-item-sass a:hover {
    border-bottom: 4px solid #3fb39e;
}
  
.nav-item-sass a.active {
    border-bottom: 4px solid #3fb39e;  
}

.border-card {
    border: 1px solid #DEE2E6;
    border-radius: 5px;
}

.text-size-search-filter, .delete-font-size {
    font-size: 13px;
}
.text-user-detail {
    font-size: 13px;
    color:#697f8d;
    white-space: nowrap;
}

.card-header {
    background-color: #F4F7FB;
    box-shadow: inset 0px 2px 0px 0px white;
}

.card-body, .footer-pagination-color, .website-bckg-color, {
    background-color: #F4F7FB;
}
.breadcrumb {
    background-color: #F4F7FB;
    font-weight: bold;
}

.footer-pagination {
    background-color: #edeef0;
}

.card-shadow {
    box-shadow: 10px 10px 10px -3px rgba(204,204,204,1);
}

.table-shadow {
    box-shadow: inset 0px 2px 0px 0px #F4F7FB;
}

.pagination-shadow {
    box-shadow: 0px 1px 0px 0px #e8edf3;
}


.h3, .h2 {
    color:#232c3b !important;
}

